<!DOCTYPE html>
<html>
    <head>

    </head>

    <body>
      <% number1 = params[:num1].to_i %>
      <% number2 = params[:num2].to_i %>
      <h1> <%= number1*number2 %> </h1>
    </body>

</html>
